/* style.css */
@font-face {
    font-family: 'Saitamaar';
    /* 注意：路徑要指向根目錄的字體檔 */
    src: url('../Saitamaar.ttf') format('truetype'); 
}

* {
    font-family: 'AAFont', 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif !important;
}

body, pre, div, p, span {
    white-space: pre !important;
    line-height: 1.1 !important;
    font-size: 16px !important;
    word-wrap: normal !important;
}
